name: Build (dev / manual)

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Ветка для сборки'
        required: true
        default: 'dev'
        type: string

jobs:
  build:
    uses: ./.github/workflows/build-desktop.yml
    with:
      ref: ${{ inputs.branch }}
      upload_to_release: false
