name: Build and Release

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

jobs:
  build-and-release:
    uses: ./.github/workflows/build-desktop.yml
    with:
      ref: ${{ github.ref }}
      upload_to_release: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/') }}
